---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import HeroCards from '@/components/HeroCards.astro'
import Methology from '@/components/Methology.astro'
import Services from '@/components/Services.astro'
import Team from '@/components/Team.astro'
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'
import FAQ from '@/components/FAQ.astro'
import SectionContainer from '@/components/SectionContainer.astro'
---

<Layout>
  <main>
    <SectionContainer id="">
      <Hero />
    </SectionContainer>
    <HeroCards />
    <SectionContainer id="serveis">
      <Services />
    </SectionContainer>
    <SectionContainer id="metodologia">
      <Methology />
    </SectionContainer>
    <SectionContainer id="equip">
      <Team />
    </SectionContainer>
    <SectionContainer id="contacte">
      <Contact />
    </SectionContainer>
    <SectionContainer id="preguntes-frequents">
      <FAQ />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
