<section id="contacte" class="bg-background-light font-sans transition-colors duration-300">
  <div class="max-w-7xl mx-auto px-6 pt-12 lg:py-16">
    <div class="text-center mb-16">
      <h1 class="text-5xl lg:text-7xl font-extrabold text-primary mt-4 leading-tight">
        Contacta'ns
      </h1>
      <span class="text-lg text-accent"
        >Escriu-nos o truca’ns explicant el teu motiu de consulta i rebràs una resposta el més aviat
        possible</span
      >
    </div>

    <section class="grid lg:grid-cols-2 gap-8">
      <div class="bg-white p-8 rounded-3xl contact-card-shadow border border-slate-100">
        <h3 class="text-2xl font-bold mb-6 text-accent-teal dark:text-primary">
          Informació de contacte
        </h3>
        <div class="space-y-8">
          <div class="flex items-start gap-4">
            <div
              class="w-12 h-12 bg-secondary/10 rounded-xl flex items-center justify-center text-secondary shrink-0"
            >
              <span class="material-symbols-outlined">location_on</span>
            </div>
            <div>
              <h4 class="font-bold text-slate-800">Ubicació</h4>
              <p class="text-slate-500">
                <a href="https://maps.app.goo.gl/WsYPwi4JFfDuYX3F6" class="hover:text-primary">
                  C/ Granada del Penedès, 19-21, Esc. B, Entres. 1ª, 08006 Barcelona
                </a>
              </p>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <div
              class="w-12 h-12 bg-secondary/10 rounded-xl flex items-center justify-center text-secondary shrink-0"
            >
              <span class="material-symbols-outlined">call</span>
            </div>
            <div>
              <h4 class="font-bold text-slate-800">Telèfons</h4>
              <div class="flex gap-2">
                <p class="text-slate-500">+34 676 789 166 (Maria)</p>
                <span>/</span>
                <p class="text-slate-500">+34 678 482 418 (Bea)</p>
              </div>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <div
              class="w-12 h-12 bg-secondary/10 rounded-xl flex items-center justify-center text-secondary shrink-0"
            >
              <span class="material-symbols-outlined">mail</span>
            </div>
            <div>
              <h4 class="font-bold text-slate-800">Email</h4>
              <p class="text-slate-500">info@blautea.com</p>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <div
              class="w-12 h-12 bg-secondary/10 rounded-xl flex items-center justify-center text-secondary shrink-0"
            >
              <span class="material-symbols-outlined">schedule</span>
            </div>
            <div>
              <h4 class="font-bold text-slate-800">Horari</h4>
              <p class="text-slate-500">Dilluns a Divendres: 9:00 - 20:00</p>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <div class="h-24 w-full rounded-2xl overflow-hidden">
              <img src="/contacta.webp" alt="" class="object-cover w-full h-full" />
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative w-full h-3/4 lg:h-full rounded-3xl overflow-hidden shadow-2xl shadow-primary/10"
      >
        <img
          alt="Map representation of Barcelona"
          class="w-full h-full object-cover filter brightness-90 contrast-125 saturate-50 grayscale-[0.2]"
          src="/sala_espera_BLAUTEA.webp"
        />
      </div>
    </section>
  </div>
</section>
