<footer class="border-slate-200 pt-20 pb-10">
  <div class="max-w-7xl mx-auto px-6">
    <div class="grid md:grid-cols-4 gap-12 mb-16">
      <div class="col-span-2">
        <div class="flex items-center gap-3 mb-6">
          <img
            alt="
          Blautea
          Logo
            Icon"
            class="h-16"
            src="/BlauteaLogo.webp"
          />
        </div>
        <p class="text-slate-500 max-w-sm mb-6 leading-relaxed">
          Consultes de psicología especialitzades en l’autisme i el neurodesenvolupament infantil i
          juvenil. Compromís, rigorositat i sensibilitat.
        </p>
        <div class="flex gap-4">
          <a
            class="w-10 h-10 rounded-full bg-white flex items-center justify-center text-slate-400 hover:text-primary border border-slate-200 transition-colors"
            href="#"
          >
            <span class="material-symbols-outlined">share</span>
          </a>
          <a
            class="w-10 h-10 rounded-full bg-white flex items-center justify-center text-slate-400 hover:text-primary border border-slate-200 transition-colors"
            href="#"
          >
            <span class="material-symbols-outlined">mail</span>
          </a>
        </div>
      </div>
      <div class="col-span-2">
        <h5 class="font-bold mb-6 text-accent">Explora</h5>
        <ul class="space-y-4 text-slate-500 grid grid-cols-2">
          <li>
            <a class="hover:text-primary transition-colors flex items-center gap-2" href="#serveis"
              ><span class="material-symbols-outlined text-sm">chevron_right</span>Serveis</a
            >
          </li>
          <li>
            <a
              class="hover:text-primary transition-colors flex items-center gap-2"
              href="#metodologia"
              ><span class="material-symbols-outlined text-sm">chevron_right</span>Metodologia</a
            >
          </li>
          <li>
            <a class="hover:text-primary transition-colors flex items-center gap-2" href="#equip"
              ><span class="material-symbols-outlined text-sm">chevron_right</span>Equip</a
            >
          </li>

          <li>
            <a class="hover:text-primary transition-colors flex items-center gap-2" href="#contacte"
              ><span class="material-symbols-outlined text-sm">chevron_right</span>Contacte</a
            >
          </li>
          <li>
            <a
              class="hover:text-primary transition-colors flex items-center gap-2"
              href="#preguntes-frequents"
              ><span class="material-symbols-outlined text-sm">chevron_right</span>FAQ</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="pt-8 border-t border-slate-200 text-center text-slate-400 text-sm">
      © 2026 BLAUTEA Consultes de Psicología infantil i juvenil.
    </div>
  </div>
</footer>
