<header
  class="max-w-7xl mx-auto py-6 px-6 flex items-center justify-between w-full sticky top-0 z-10"
>
  <img alt="Blautea Logo Icon" class="h-16" src="/BlauteaLogo.webp" />

  <nav class="hidden lg:flex items-center gap-1 glass-card px-6 py-2 rounded-full shadow-sm">
    <a
      class="px-4 py-2 text-sm font-bold text-primary decoration-2 hover:text-primary transition-colors"
      href="#">Inici</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#serveis">Serveis</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#metodologia">Metodologia</a
    >

    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#equip">Equip</a
    >

    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary underline-offset-8"
      href="#contacte">Contacte</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#preguntes-frequents">FAQ</a
    >
    <div class="flex items-center gap-2 ml-4 border-l border-slate-200 pl-4 hover:cursor-pointer">
      <span class="text-sm font-medium">
        <img alt="Bandera de Catalunya" class="h-6 w-6" src="/flags/cat.svg" />
      </span>
      <span class="material-icons-outlined text-sm text-slate-400 hover:text-primary"
        >expand_more</span
      >
    </div>
  </nav>
  <span
    class="bg-white 800 border border-primary text-primary px-6 py-2.5 hidden lg:inline-block rounded-full text-sm font-bold invisible"
  >
    Concertar una Cita
  </span>
  <input id="mobile-menu-toggle" type="checkbox" class="peer hidden" />
  <label
    for="mobile-menu-toggle"
    class="w-10 h-10 flex lg:hidden items-center justify-center rounded-full bg-slate-100 text-slate-600 cursor-pointer peer-checked:hidden"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="tabler-icon tabler-icon-menu-2 text-black w-5 h-5"
    >
      <path d="M4 6l16 0"></path>
      <path d="M4 12l16 0"></path>
      <path d="M4 18l16 0"></path>
    </svg>
  </label>
  <label
    for="mobile-menu-toggle"
    class="w-10 h-10 hidden lg:hidden items-center justify-center rounded-full bg-slate-100 text-slate-600 cursor-pointer peer-checked:flex"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="text-black w-5 h-5"
    >
      <path d="M6 6l12 12"></path>
      <path d="M18 6l-12 12"></path>
    </svg>
  </label>

  <nav
    class="lg:hidden absolute right-0 top-3/5 w-64 m-6 glass-card p-3 rounded-2xl shadow-lg [&>a]:text-lg opacity-0 scale-95 -translate-y-2 pointer-events-none transition-all duration-200 ease-out origin-top peer-checked:opacity-100 peer-checked:scale-100 peer-checked:translate-y-0 peer-checked:pointer-events-auto"
  >
    <a
      class="block px-4 py-2 font-bold text-primary decoration-2 hover:text-primary transition-colors rounded-lg"
      href="#">Inici</a
    >
    <a
      class="block px-4 py-2 font-medium text-slate-600 hover:text-primary transition-colors rounded-lg"
      href="#serveis">Serveis</a
    >
    <a
      class="block px-4 py-2 font-medium text-slate-600 hover:text-primary transition-colors rounded-lg"
      href="#metodologia">Metodologia</a
    >
    <a
      class="block px-4 py-2 font-medium text-slate-600 hover:text-primary transition-colors rounded-lg"
      href="#equip">Equip</a
    >
    <a
      class="block px-4 py-2 font-medium text-slate-600 hover:text-primary underline-offset-8 rounded-lg"
      href="#contacte">Contacte</a
    >
    <a
      class="block px-4 py-2 font-medium text-slate-600 hover:text-primary transition-colors rounded-lg"
      href="#preguntes-frequents">FAQ</a
    >
  </nav>
</header>
