<header
  class="max-w-7xl mx-auto py-6 px-6 flex items-center justify-between w-full sticky top-0 z-10"
>
  <img alt="Blautea Logo Icon" class="h-16" src="/BlauteaLogo.webp" />

  <nav class="hidden lg:flex items-center gap-1 glass-card px-6 py-2 rounded-full shadow-sm">
    <a
      class="px-4 py-2 text-sm font-bold text-primary decoration-2 hover:text-primary transition-colors"
      href="#">Inici</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#serveis">Serveis</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#metodologia">Metodologia</a
    >

    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#equip">Equip</a
    >

    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary underline-offset-8"
      href="#contacte">Contacte</a
    >
    <a
      class="px-4 py-2 text-sm font-medium text-slate-600 hover:text-primary transition-colors"
      href="#preguntes-frequents">FAQ</a
    >
    <div class="flex items-center gap-2 ml-4 border-l border-slate-200 pl-4 hover:cursor-pointer">
      <span class="text-sm font-medium">
        <img alt="Bandera de Catalunya" class="h-6 w-6" src="/flags/cat.svg" />
      </span>
      <span class="material-icons-outlined text-sm text-slate-400 hover:text-primary"
        >expand_more</span
      >
    </div>
  </nav>

  <span
    class="bg-white 800 border border-primary text-primary px-6 py-2.5 hidden lg:inline-block rounded-full text-sm font-bold invisible"
  >
    Concertar una Cita
  </span>
  <button
    class="w-10 h-10 flex lg:hidden items-center justify-center rounded-full bg-slate-100 text-slate-600"
  >
    <span class="material-symbols-outlined">menu</span>
  </button>
</header>
