<section class="pt-32 pb-20 px-6 lg:pt-24 lg:pb-28">
  <div class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-12 items-center">
    <div class="space-y-8">
      <div
        class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-primary/10 text-primary text-sm font-semibold tracking-wide uppercase"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping-slow absolute inline-flex h-full w-full rounded-full bg-primary opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"></span>
        </span>
        Psicologia &amp; Neurodesenvolupament
      </div>
      <h1 class="text-5xl lg:text-7xl font-extrabold tracking-tight leading-[1.1] text-accent">
        Cuidant avui el <span class="text-primary">benestar</span> de demà
      </h1>
      <p class="text-lg text-slate-600 max-w-xl leading-relaxed">
        En BLAUTEA oferim una atenció propera, respectuosa i compromesa amb el benestar de cada
        persona i el seu entorn. Acompanyem a nens/as, adolescents i a les seves famílies des d’una
        mirada individualitzada, adaptant-nos a les seves necessitats i ritmes.
      </p>
      <div class="flex flex-wrap gap-4 pt-4">
        <!-- <button
          class="bg-accent text-white px-8 py-4 rounded-2xl font-bold text-lg hover:translate-y-0.5 transition-all shadow-xl shadow-accent/20"
        >
          Començar ara
        </button> -->
      </div>
    </div>

    <div
      class="relative z-10 rounded-[3rem] overflow-hidden shadow-2xl ring-1 ring-accent h-11/12 aspect-square animate-brain"
    >
      <img
        alt="Brain Illustration Concept"
        class="w-full aspect-square object-cover"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuA4nVBScIamUsRIx8-aObSzZVy5by0WZLlGOjGFHe6svNpEvgIT6exS6EXSi85RV7SUU1yrXWVuHorP6Dur04bNU4oABv2ntHoqFW16ZKuvuZrbufSNEztXvSdZ6lDhX-9C2bXE7J2phCBShQal8GUIPhVx5KyTYFm4Lf6JO8GkCosjOtp8gURmZTk7AmrYxx3HmQDGJ5iea7BTbPld5Ksf2V1-KlDbANTN--LRsCooIQ_xUe-PLrorm5iXBOaYoc9I9lC0jOj3sxg"
      />
    </div>
  </div>
</section>
