<section id="serveis" class="py-24 bg-slate-50 flex flex-col gap-20">
  <div class="grid lg:grid-cols-6 gap-16 items-center max-w-7xl mx-auto">
    <div class="space-y-8 col-span-3">
      <div
        class="inline-flex items-center gap-2 px-4 py-2 rounded-full bg-secondary/10 border border-secondary/20"
      >
        <span class="w-2 h-2 rounded-full bg-secondary"></span>
        <span class="text-secondary text-sm font-semibold tracking-wide uppercase"
          >Excel·lència Clínica</span
        >
      </div>
      <h1 class="text-6xl md:text-7xl font-black leading-[1.1] tracking-[-0.04em] text-slate-900">
        Serveis
      </h1>
      <div>
        <p class="text-xl text-slate-500 leading-relaxed text-balance">
          <em
            >Estem especialitzades en el Trastorn de l'Espectre de l'Autisme, tot i que ens adaptem
            a</em
          >
          cada infant per acompanyar dificultats emocionals, desenvolupar habilitats socials i fer front
          a altres reptes.
        </p>

        <p class="mt-2 text-xl text-slate-500 leading-relaxed text-balance">
          Realitzem valoracions diagnòstiques, assessorament familiar i intervencions específiques,
          oferint una atenció adaptada i personalitzada, tant en <span
            class="text-primary font-bold">Català, Castellà i Anglès</span
          >.
        </p>
      </div>
    </div>

    <div
      class="relative rounded-3xl overflow-hidden aspect-square shadow-2xl border border-white/10 flex items-center justify-center p-6 h-4/5 col-span-3"
    >
      <img
        alt="3D Blautea Premium Visual"
        class="w-full h-full object-contain filter drop-shadow-[0_0_30px_rgba(19,164,236,0.3)] rounded-2xl"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAEVtyR7V0Dix9iI2Q1e-vqYdnBIHSTJ4aC5GptIenNki-2rGrJ8oZ_eDsNo-BAWaKNGQz_h0PUiOLQxnFq86zdLB-FFGJRF7nk0mrE7YCu0ZGdU2x8TNvTCoG-gXNqAkPPZTs_YegCkOmd5LI1CaYMXlocWNOdCh-M7kENtISW6FeELJDwAD3HjwlGmDEeoZsm9yZZHAcj3GpoSc6ZgPKSFGQlor2CbPYrf-OK_fBtKDRgsy-1nf9g2mD8jZAs2gAveXHPd6cvsmk"
      />
    </div>
  </div>

  <div class="grid lg:grid-cols-6 gap-12 max-w-7xl mx-auto items-center">
    <div class="col-span-3 flex flex-col">
      <h2 class="text-4xl md:text-5xl font-black tracking-tight mb-6 text-slate-900">
        Avaluacions psicològiques
      </h2>
      <p class="text-slate-500 text-lg max-w-md leading-relaxed">
        Processos diagnòstics individualitzats i adaptats a cada infant, permetent-nos orientar
        adequadament les sessions psicològiques i dissenyar intervencions eficaces per nens i
        adolescents.
      </p>
      <div class="mt-8 flex items-center gap-4 text-primary">
        <span class="h-px w-12 bg-primary/30"></span>
        <span class="text-sm font-bold uppercase tracking-widest">Protocols Clínics</span>
      </div>
    </div>

    <div class="glass-card p-8 rounded-3xl col-span-3 border-primary/40 h-fit">
      <ul class="space-y-2
      text-sm
      mt-6">
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Trastorn de l'Espectre Autista (TEA)</span>
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600"
            >Trastorn per Dèficit d'Atenció amb/sense Hiperactivitat (TDAH)</span
          >
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Neurodesenvolupament</span>
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Capacitat cognitiva</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid lg:grid-cols-6 gap-12 max-w-7xl mx-auto items-center">
    <div class="col-span-3">
      <h3 class="text-4xl font-black tracking-tight mb-6 text-slate-900">
        Modalitats d'intervenció
      </h3>
      <p class="text-slate-500 text-lg max-w-md leading-relaxed">
        Sessions d’intervenció adaptades a les necessitats de cada infant i familia, treballant de
        forma flexible i col·laborativa, assegurant una atenció integral que afavoreixi el benestar
        emocional al llarg de cada etapa evolutiva.
      </p>
       <div class="mt-8 flex items-center gap-4 text-primary">
        <span class="h-px w-12 bg-primary/30"></span>
        <span class="text-sm font-bold uppercase tracking-widest">Pràctiques basades en l’evidència</span>
      </div>
    </div>

    <div class="glass-card p-8 rounded-3xl col-span-3 border-primary/40">
      <ul class="space-y-2 text-sm mt-6">
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Sessions presencials individualitzades</span>
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Sessions online individualitzades</span>
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600">Sessions presencials grupals</span>
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600"
            >Sessions d’assessorament a pares de manera individualitzada o en format grupal</span
          >
        </li>
        <li class="flex gap-3">
          <span class="material-symbols-outlined text-secondary text-sm mt-0.5">check_circle</span>
          <span class="text-slate-600"
            >Coordinació amb els centres escolars per oferir orientacions i estratègies útils a
            l’entorn educatiu i amb la comunitària (CDIAPs i CSMIJs)</span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
