@import 'tailwindcss';

@theme {
  --color-primary: #5bb2c2;
  --color-secondary: #f38d8d;
  --color-background-light: #f0f7f9;
  --color-accent: #0f172a;
  /* --color-background-dark: #0f172a; */
  --font-sans: 'Plus Jakarta Sans', system-ui, sans-serif;
}

@layer components {
  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .contact-card-shadow {
    box-shadow: 0 10px 50px -12px rgba(100, 170, 179, 0.15);
  }

  /* Material Symbols settings */
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }

  @layer utilities {
    .animate-ping-slow {
      animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
  }
}
@utility animate-brain {
  animation: brain 8s ease-in-out infinite;
}

@keyframes brain {
  0%,
  100% {
    transform: translateY(0) scale(1);
    filter: drop-shadow(0 0 0 rgba(99, 102, 241, 0));
  }
  50% {
    transform: translateY(-4px) scale(1.01);
    filter: drop-shadow(0 0 12px rgba(99, 102, 241, 0.4));
  }
}
